[submodule "books"]
	path = books
	url = https://github.com/rakovets/books
	branch = main
[submodule "private"]
	path = private
	url = https://github.com/rakovets/private
	branch = main
[submodule "docs"]
	path = docs
	url = https://github.com/rakovets/docs
	branch = main
[submodule "interview"]
	path = interview
	url = https://github.com/rakovets/interview
	branch = main
